* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
}

.logo, img{
    display: block;
    margin: 20px;
    border-radius: 50%; 
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2em;
    margin: 1em 0;
}

#home {
    text-align: center;
    background: #f4f4f4;
    padding: 4em 2em;
}

               

#about, #portfolio, #contact {
    background: #e2e2e2;
    margin: 1em 0;
}

.project {
    background: #fff;
    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #333;
    color: #fff;
}
